@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root {
    --main-color: #13172c;
    --rest-color: #030825;
    --gradient: background-color: linear-gradient(135deg, #13172c, #030825, #4a3f7a, #263b59);

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}

h1, a, button, nav{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#navbar {
    position: sticky;
    height: 75px;
    width: 100%;
    background-color: var(--rest-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:25px 35px 25px 35px;
}

span{
    color: #fff;
    font-size: large;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: large;
}

#location {
    color: 'white';
    position: relative;
    right: 10px;
}

#searchbar {
    height: 40px;
    width: 450px;
    border-radius: 0.5rem;
    position: relative;
    right: 20px;
}

#user {
    position: relative;
    right: 10px;
}

#span-user {
    position: relative;
    bottom: 15px;
    left: 7px;
}

#span-cart {
    position: relative;
    bottom: 15px;
    left: 5px;
}

#sub-navbar {
    height: 40px;
    width:100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.subnavbar-font{
    font-size:16px;
}

.slider {
    position: relative;
    margin: auto;
    width: 100%;
    max-width:1350px;
    overflow: hidden;
}

.slides img {
    display: none;
    width: 100%;
    flex: 1 0 100%;
}

img.displaySlide {
    display: block;
}

button.prev, button.next {
    position: absolute;
    height:50px;
    width:40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.brand-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    background-color: var(--main-color);
    margin-top: -4px;
    padding-bottom: 30px;
}

#brands-h1{
    color:#fff;
    font-size: x-large;
    padding-top:20px;
    padding-left:110px;
    margin-top:30px; 
}

#brand-list {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    gap:7px;
    flex-wrap: wrap;
    padding: 10px 30px 72px 30px ;
}

.brand-child {
    height: 150px;
    width: 155px;
    border-radius: 18px;
    overflow: hidden;
    margin-top: 20px;
}

.brand-child img{
    height:100%;
    width:100%;
    aspect-ratio: 3/2;
    object-fit:contain;
}

.deals{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width:100%;
    padding:30px;
    background-color: var(--main-color);
    margin-top: -1px;
    padding-bottom: 80px;
}

.deal-list{
    display: flex;
    padding-left:80px;
    gap:20px;
    flex-wrap: wrap;
}

.deal-box{
    height:400px;
    width:270px;
    border: 1px solid black;
    border-radius: 0.8rem;
    background: linear-gradient(135deg, #13172c, #030825, #4a3f7a, #263b59);
    text-align: center;
    padding:20px;
}

#deals-h1{
    background-color: var(--main-color);
    color:#fff;
    font-size: x-large;
    padding-left: 110px;
    padding-top: 20px;
}

.section-cart-btn{
    height:40px;
    width:170px;
    border-radius: 0.6rem;
    background-color:white;
    color:black;
    border:1px solid black;
    position: relative;
    top:290px;
}

#span-line{
    position:relative;
    top:185px;
}

#span-price{
    position: relative;
    top:190px;
}